.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.flightextradetailsflex{
  display:flex;
  justify-content: space-around;
  width:100%;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  display:flex;
  width:100vw;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  text-decoration: none;
  margin-bottom:3%
}
.logocontainer{
  width:70vw;
  height:80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo{
  width:15%;
  height:70%;
  padding-left:5%;
  cursor:"pointer"
}

.logo:hover{
  transform: scaleX(1.1);
  transition :transform 1s ease-in-out; 
}
.login{
  display:flex;
  width:30vw;
  justify-content: flex-end;
  align-items: center;
  height:80%;
}
.userIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:90%;
  margin-right:30%;
  background-color: white;
  border:none;
}
.userIcon:hover{
  /* transform: scale(1.1);
  transition :transform 1s ease-in-out;  */
  cursor:pointer
}
.links{
  display: flex;
  width: 20vw;
  height:80vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 2%; 
}
.amneties{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  align-items: flex-start;
  text-align: left;

}
.clockincon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.link{
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  width:100%;
  height:30px;
  border-radius: 5px;
  background-color:lightskyblue;
  color:white;
}
.outlet{
  width:60vw;
  height:80vh;
}
.flights{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  margin-top: 2%;
}
.mainSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100vw; */
  height: 80vh;
}
.faredetails{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:5px;
}


.flightHomeHeading{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:space-around;
  line-height: .5;
  width:60vw;
  margin-top:5%;
  height: 10vh;
}
.fromto{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  position: relative;
}
.toandfromicon{
  position: absolute;
  top:auto;
  height:7vh;
  width:7vh;
  border: 1px solid black;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#from,#to{
  padding-left:5%;
  width:40%;
  border-radius: 5px;
  gap:5px;
  height:8vh;
  border:1px solid lightgrey;
  font-size: large;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  position:relative;
}
.fromtoInput{
  width: 80%;
  height:90%;
  border: none;
  font-size: large;
  padding-left:2%;
  outline:none;
}

.userinput{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 65vh;
  border: 1px solid grey;
  border:none;
  border-radius:5px ;
  box-shadow: 0 0 2px 2px lightgray; 
}
.seatdetails{
  margin-top: 5%;
  width:100%;
  position:relative;
  
}
.calender{
  width:80%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  margin: 5%;
  height:5vh;
}
.navBtn{
  text-decoration: none;
}
.flexOption{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.addisplay{
 width:100%;
 min-height:50%;
 height: fit-content;
 margin: 2% 5%;
 border-radius: 10px;
 position:relative;
 text-align: center;
}
.addetails{
  position: absolute;
  top:80%;
}
#iconShow{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#iconShow:hover{
  cursor:pointer
}
.persons{
  position:absolute;
  top:42%;
  left:25%;
  width: 40%;
  height:fit-content;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:normal;
  border:1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 2%;
  padding:0;
  background-color: rgba(256,256,256,1);
  
}
.personflex{
  height:8vh;
  display: flex;
  flex-direction: row;
  margin-bottom:5px;
}
.personscard{
  margin:2% 0;
}
.showperson{
  display:flex;
  flex-direction: column;
  width: 20vw;
  align-items: flex-start;
  padding-left:5%
}
.addpeople{
  display: flex;
  width:20vw;
  align-items: center;
  justify-content: space-around;
  width:20vw;
  
}
.personbtn{
  height:6vh;
  width:6vh;
  border: none;
  border-radius: 50%;
  font-size: larger;
  
}
.personClassDiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width:80% ;
  text-align: center;
  margin-bottom: 5px;
}
.personClassBtn{
  width: fit-content;
  border: 1px solid gray;
  border-radius: 15px;
  padding:5px;
  min-height: 5vh;
  
}
.selected{
  background-color: lightblue;
  border: 1px solid blue;
}
.showlist{
  background-color:white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  font-size: small;
  justify-content: flex-start;
  width:50%;
  z-index: 1;
  position:relative;
}
.ports{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:40%;
}
.portlist{
  /* width:25%; */
  background-color: rgba(256,256,256,1);
  font-size: small;
  list-style-type: none;
  border:1px solid black;
  border-radius:10px;
}
.liflex{
  display:flex;
  width:100%;
}
.portcode{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content:left;
}
.portdetails{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content:left;
}
.offers{
  width: 20vw;
  height: 80vh;
  font-size: small;
  font-weight: bold;
  margin:5% 5% 0 0;
}
.landmark{
  width:80%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  border:1px solid gray;
}
.landmark:hover{
  border:1px solid black;
}
.iconContainer{
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dates{
  display: flex;
  width:70%;
  justify-content: center;
  align-items: center;
}
#usercheckinoutshow{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  height:30vh;
  width:30%
}
.moreopt{
  text-decoration: underline;
  color:blue;
}
.flexIconDiv{
  display:flex
}
.personOptsDiv{
  width:100%;
  height:100%;
}
.personOpts{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding:0 15%;
}
.portal{
  height:100vh;
  width:99vw; 
  /* background-color:black;
  opacity: .9; */
  position:fixed;
  top:0;
  left:0;
}
.flightCard{
  height: fit-content;
  display:flex;
  align-items: center;
  justify-content: center;
}
.flightImg{
  height:3vw;
  width:3vw;
  border-radius: 10%;
}

.hidebackground{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.9);   
}
.signupcard{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  height:60%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(256,256,256); 
  flex-direction: column;
}


.crossdiv{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: blue; */
  width: 90%;
  height:10%;
}
.otpsection{
  display: flex;
  flex-direction: column;
  width:90% ;
  height:40%;
  justify-content:space-between;
  align-items: center;
}
.signuppolicy{
  display: flex;
  flex-direction: column;
  width: 90%;
  height:20%;
}
.phonedetails{
  height:30%;
  width: 100%;
}
.phonecode,.phonenumber{
  height:100%;
}
.phonecode{
  width:30%;
  margin-right:1%
}
.phonenumber{
  width:65%;
  border-radius: 5px;
  text-align: center;
  box-shadow: none;
  
}
#otpbtn{
  margin-top:5%;
  color: white;
  background-color: black;
  width:100%;
  height:30%;
  border-radius:10px;
  padding:2% 0 ;
}
.signuphr{
  width: 100%;
  height:.5px;
  color:gray;
  background-color: gray;
  box-shadow: none;
}
.resultips{
  display: flex;
  /* width: 100vw; */
  height:3vh;
  justify-content: space-between;
  align-items: center;
  margin:1%
}
.resultsinps{
  height:3vh;
  width:50%;
  display:flex ;
  justify-content: space-around;
  align-items: center;
  margin-left: 1%;
}
.resinps{
  box-shadow: none;
  height:4vh;
 
}
.inpsteags{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.resultsBtnsel{
  width: 50%;
  height:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
.flightmain{
  display:flex;
  justify-content: space-between;
  /* align-items: center; */
   width:99vw;
  height:90vh;
  column-gap: 2vw;
  position:relative
}
.flightFilter{
  width:25vw;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: space-between;
  height:75vh;
  max-height: 75vh;
  position:sticky;
  top:0;
  background-color: rgba(256,256,256,1);

}
.airline,.price,.departure,.stops{
  margin-left:5%;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size:small;
  height: fit-content;
  max-height: 20vh;
  margin-top:5%;
}
.departurefilter{
  width:100%;
  display:flex;
  flex-direction: column;
  /* justify-content:flex-start; */
  /* align-items: space-between; */
  gap:none;
  height:20vh;
  /* background-color: pink; */

}
.cardflex{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  height:3vh;
  
}
.cardflex1{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size:smaller;
  font-weight: normal;
  max-height:3vh;
 
}
.pricerange{
  width:100%
}
.flightdetailstable{
  width:70vw;
  /* height:75vh; */
  position:absolute;
  left:30vw;
}
.flightdetailstable thead span{
  width:15%;
}
.hidden{
  display:none;
}
.flex{
  display:flex;
  flex-direction: row;
  align-items: center;
  width:fit-content;
}
.flexcol{
  display:flex;
  flex-direction: column;
  justify-content:  flex-start;
  align-items:center;
  text-align: left;
}
.flex:hover{
  cursor:pointer;
  color:blue;
}
.active{
  color:red
}
.flightDataHeadRow {
  height:10vh;
  position:sticky;
  top:0;
}
.flightDataHeadRow th{
  background-color: black;
  color:white;
  display:flex;
  justify-content:space-around;
  align-items: center;
  width: 90%;
  height:10vh;
}
.flightDataHeadRow th:hover{
  cursor: pointer;
}
.flightDataBodyRow{
  width:90%;
}
.flightDataBodyRow td{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  min-height:20vh;
  margin:2% 0;
  border-radius: 5px;
  border:2px solid lightgray;
  align-items:flex-start;
  width:90%;
  max-height: fit-content;
}
.flightDataBodyRow td div.flexTd span{
  width:15%;
  min-height: 20vh;
  
}
.arrv{
  margin-left: 0;
}
.bookBtn{
  width:80%;
  height:10vh;
  background-color: darkgoldenrod;
  color:black;
  border-radius:10px;
  box-shadow: none;
  cursor:pointer;
  font-size:normal;
  font-weight: bold;
}
.flexTd{
  display:flex;
  flex-direction: row;
  align-items:center;
  border-right: 0;
  justify-content: space-around;
  width:100%;
  /* height: 100%; */
}
.flightalldetails{
  font-size: small;
  color:blue;
}
.flightalldetails p.show:hover{
  cursor:pointer;
  text-decoration: underline;
}
.show{
  display:block
}
.flightCard{
  display:flex;
  flex-direction: column;
}
.flightCardDirection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  height:20%;
  width:30%;
  margin-left:5%;
}
.flightCardDirection:hover{
  text-decoration: none;
}
.width-100{
  width:100%;
}
.flightextradetails{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  height:fit-content;
  border:1px solid grey;
  border-radius: 5px;
}

.flightCardHr{
  width: 100%;
  background-color: gray;
  height:1px;
  /* border: .2px solid gray; */
  box-shadow: none;
}