.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo{
  height:100%;
  padding-left:5%;
}
.logo:hover{
  transform: scale(1.1);
  transition :transform 1s ease-in-out; 
}
.navlink{
  display:flex;
  width:90vw;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  text-decoration: none;
}
.links{
  display: flex;
  width: 20vw;
  height:80vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 2%; 
}
.link{
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  width:100%;
  height:30px;
  border-radius: 5px;
  background-color:lightskyblue;
  color:white;
}
.outlet{
  width:60vw;
  height:80vh;
}
.flights{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  margin-top: 2%;
}
.mainSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.faredetails{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:5px;
}

.offers{
  width: 20vw;
  height: 80vh;
  font-size: small;
  font-weight: bold;
  margin:5% 5% 0 0;
}
.flightHomeHeading{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:space-around;
  line-height: .5;
  width:60vw;
  height: 10vh;
}
.seatdetails{
  margin-top: 5%;
}
.fromto{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  gap:0.5%;
}
#from,#to{
  padding-left:2%;
  width:40%;
  border-radius: 5px;
  gap:5px;
  height:8vh;
  border:1px solid lightgrey;
  font-size: large;
  display:flex;
  justify-content:flex-start;
  align-items: center;
}
.fromtoInput{
  width: 80%;
  height:95%;
  border: none;
  font-size: large;
  padding-left:2%;
  outline:none;
}

.userinput{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 65vh;
  border: 1px solid grey;
  border:none;
  border-radius:5px ;
  box-shadow: 0 0 2px 2px lightgray;
}
.calender{
  width:80%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  margin: 5%;
}
.navBtn{
  text-decoration: none;
}
.flexOption{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.addisplay{
 width:100%;
 min-height:50%;
 height: fit-content;
 margin: 2% 5%;
 border-radius: 10px;
 position:relative;
 text-align: center;
}
.addetails{
  position: absolute;
  top:80%;
}
#iconShow{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.person{
  width: 40vw;
  height:40vh;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:stretch;
  border:1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 2%;
}
.personflex{
  height:8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
}
.showperson{
  display:flex;
  flex-direction: column;
  width: 20vw;
}
.addpeople{
  display: flex;
  width:20vw;
  align-items: center;
  justify-content: space-around;
  width:20vw;
}
.personbtn{
  height:6vh;
  width:6vh;
  border: none;
  border-radius: 50%;
  font-size: larger;
}